<div class="row">
  <div class="col">
    <h1 class="display-2">Presentations</h1>  

    <!--<status-filter [status]="selectedStatus" (onChange)="onFilterChange($event)"></status-filter> -->

    <table class="table">  
      <thead>  
        <tr>  
          <th scope="col">#</th>  
          <th scope="col">Movie</th>  
          <th scope="col">Room</th>  
          <th scope="col">Time</th>
          <th scope="col">Available tickets</th>
          <th scope="col" *ngIf="currentUser != undefined && currentUser.role ==='USER'">Amount</th>
        </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let presentation of presentations" (click)="onSelectPresentation(presentation)" [class.table-info]="presentation === selectedPresentation" >  
          <th scope="row">{{ presentation.id }}</th>  
          <td>{{ presentation.movie.title }}</td>  
          <td>{{ presentation.room.number }}</td>  
          <td>{{ getFormattedTime(presentation) }}</td> 
          <td>{{ presentation.availableTickets }}</td>
          <td *ngIf="currentUser != undefined && currentUser.role==='USER'">
              <mat-chip-list>
                  <mat-chip (click)="removeTicket(presentation)" class="disable-text-selection">-</mat-chip>
                  <mat-chip (click)="addTicket(presentation)" class="disable-text-selection">+</mat-chip>
              </mat-chip-list>
              <div id="{{presentation.id}}_amount" class="disable-text-selection">0</div>
          </td>   
        </tr>  
      </tbody>  
    </table>  
  </div>
  <div *ngIf="selectedPresentation">
    <presentation-details [presentation]="selectedPresentation"></presentation-details>
  </div>
</div>
<div *ngIf="currentUser != undefined && currentUser.role==='USER'">
  <button (click)="placeOrder()" [disabled]="(orderItems.length == 0)" mat-raised-button color="primary" routerLink="/presentations">Order tickets</button>
</div>