<h1 class="display-2"> Login </h1>
<form>
  <div class="form-group">
    <mat-form-field>
      <input name="email" type="text" aria-describedby="emailHelp" placeholder="Enter your email address" size="35">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input name="email" type="password" aria-describedby="emailHelp" placeholder="Enter your password" size="35">
    </mat-form-field>
  </div>

  <button type="submit" mat-raised-button color="primary" routerLink="/dashboard">Login</button>

</form>