<div class="row">
  <div class="col">
    <h1 class="display-2">Orders</h1>  

    <!--<status-filter [status]="selectedStatus" (onChange)="onFilterChange($event)"></status-filter> -->

    <table class="table">  
      <thead>  
        <tr>  
          <th scope="col">#</th>  
          <th scope="col">User</th>  
          <th scope="col">Date</th>  
          <th scope="col">Status</th>
        </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let order of orders" (click)="onSelectOrder(order)" [class.table-info]="order === selectedOrder" >  
          <th scope="row">{{ order.id }}</th>  
          <td>{{ order.user.email}}</td>  
          <td>{{ order.date }}</td>  
          <td>{{ order.status }}</td>   
        </tr>  
      </tbody>  
    </table>  
    Selected order: {{ selectedOrder | json }}
  </div>
</div>