<div class="row">
  <div class="col">
    <h1 class="display-2">Orders</h1>  

    <!--<status-filter [status]="selectedStatus" (onChange)="onFilterChange($event)"></status-filter> -->

    <table class="table">  
      <thead>  
        <tr>  
          <th scope="col">#</th>  
          <th scope="col">User</th>  
          <th scope="col">Date</th>  
          <th scope="col">Status</th>
        </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let order of orders" (click)="onSelectOrder(order)" [class.table-info]="order === selectedOrder" >  
          <th scope="row">{{ order.id }}</th>  
          <td>{{ order.user.email }}</td>  
          <td>{{ getFormattedTime(order) }}</td>  
          <td>
              <form *ngIf="selectedOrder === order" #orderForm="ngForm">
                  <div class="form-group">
                      <mat-select
                          name="status"
                          [(ngModel)]="model.status"
                          aria-describedby="statusHelp"
                          placeholder="Select status"
                          required
                          #status="ngModel"
                        >
                        <mat-option value="PENDING">PENDING</mat-option>
                        <mat-option value="APPROVED">APPROVED</mat-option>
                        <mat-option value="CLOSED">CLOSED</mat-option>
                      </mat-select>  
                  </div>
              </form>
              <div *ngIf="selectedOrder != order">{{ order.status }}</div>
          </td>   
        </tr>  
      </tbody>  
    </table>  
  </div>
</div>
<button mat-raised-button color="primary" (click)="submit(orderForm)" [disabled]="(!selectedOrder)">Modify status</button>
<button mat-raised-button color="warn" [disabled]="(!selectedOrder)" (click)="deleteOrder(selectedOrder)">Delete order</button>