<div class="row">
    <div class="col">
      <h1 class="display-2">My profile</h1>

      <table class="table">  
        <thead>  
          <tr>  
            <th scope="col"></th>  
            <th scope="col">Email</th>  
            <th scope="col">Name</th>  
            <th scope="col">Address</th>
            <th scope="col">Role</th>
          </tr>  
        </thead>  
        <tbody>  
          <tr *ngIf="currentUser !== undefined">
            <th scope="row"></th>  
            <td>{{ currentUser.email }}</td>  
            <td>{{ currentUser.name }}</td>  
            <td>{{ currentUser.address }}</td>
            <td>{{ currentUser.role }}</td>   
          </tr>  
        </tbody>  
      </table>
    </div>
    <div class="col" *ngIf="modifymode==true"> 
       <profile-form (onSubmit)="modifyUser($event)" (onCancel)="toggleModifymode()" [user]="currentUser"></profile-form>
    </div>
  </div>

  <button mat-raised-button color="primary" [disabled]="(modifymode == true)" (click)="toggleModifymode()">Edit profile</button>