<div class="row">
    <div class="col">
      <h1 class="display-2">Users</h1>  
  
      <!--<status-filter [status]="selectedStatus" (onChange)="onFilterChange($event)"></status-filter> -->
  
      <table class="table">  
        <thead>  
          <tr>  
            <th scope="col">#</th>  
            <th scope="col">Email</th>  
            <th scope="col">Name</th>  
            <th scope="col">Address</th>
            <th scope="col">Role</th>
          </tr>  
        </thead>  
        <tbody>  
          <tr *ngFor="let user of users" (click)="onSelectUser(user)" [class.table-info]="user === selectedUser" >  
            <th scope="row">{{ user.id }}</th>  
            <td>{{ user.email }}</td>  
            <td>{{ user.name }}</td>  
            <td>{{ user.address }}</td>
            <td>
                <form *ngIf="(selectedUser === user) && (currentUser.email != user.email)" #userForm="ngForm">
                    <div class="form-group">
                        <mat-select
                            name="role"
                            [(ngModel)]="model.role"
                            aria-describedby="roleHelp"
                            placeholder="Select role"
                            required
                            #role="ngModel"
                          >
                          <mat-option value="USER">USER</mat-option>
                          <mat-option value="ADMIN">ADMIN</mat-option>
                        </mat-select>
                    </div>
                </form>
                <div *ngIf="(selectedUser != user) || (currentUser.email == user.email)">
                  {{ user.role }}
                </div>  
            </td>   
          </tr>  
        </tbody>  
      </table> 
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="submit(userForm)" [disabled]="(!selectedUser)">Modify role</button>