<h1 class="display-2">Presentation data</h1>  
<form (submit)="submit(presentationForm)" #presentationForm="ngForm">


  <div class="form-group">
    <mat-form-field> 
    <mat-select
        name="movie"
        [(ngModel)]="model.movie"
        aria-describedby="movieHelp"
        placeholder="Select movie"
        required
        #movie="ngModel"
      >
      <mat-option *ngFor="let movie of movies" value="{{movie}}">{{ movie.title }}</mat-option>
    </mat-select>
    <mat-error *ngIf="movie.invalid && (movie.dirty || movie.touched) && movie.errors.required">
      Movie is required!
    </mat-error>
  </mat-form-field> 
  </div>

  <div class="form-group">
    <mat-form-field> 
    <mat-select
        name="room"
        [(ngModel)]="model.room"
        aria-describedby="roomHelp"
        placeholder="Select room"
        required
        #room="ngModel"
      >
      <mat-option *ngFor="let room of rooms" value="{{room}}">{{ room.number }}</mat-option>
    </mat-select>
    <mat-error *ngIf="room.invalid && (room.dirty || room.touched) && room.errors.required">
      Room is required!
    </mat-error>
  </mat-form-field> 
  </div>

  <div class="form-group">  
    <!-- <small id="locationHelp" class="form-text text-muted">Give the location of the issue (e.g. labor)</small> -->  
    <mat-form-field>  
      <input
        name="time"
        [(ngModel)]="model.time"
        matInput type="text"
        aria-describedby="timeHelp"
        placeholder="Enter time"
        required
        pattern="\d\d\d\d.\d\d.\d\d. \d\d:\d\d"
        #time="ngModel"
      >
      <mat-error *ngIf="time.invalid && (time.dirty || time.touched) && time.errors.required">
        time is required!
      </mat-error>
      <mat-error *ngIf="time.invalid && (time.dirty || time.touched) && time.errors.pattern">
        time must be in the correct format! (eg. 2017.11.16. 20:31)
      </mat-error>
    </mat-form-field>  
  </div> 

  <div class="form-group">  
    <!-- <small id="locationHelp" class="form-text text-muted">Give the location of the issue (e.g. labor)</small> -->  
    <mat-form-field>  
      <input
        name="availableTickets"
        [(ngModel)]="model.availableTickets"
        matInput type="text"
        aria-describedby="ticketHelp"
        placeholder="Enter available tickets amount"
        required
        pattern="\d+"
        #availableTickets="ngModel"
      >
      <mat-error *ngIf="availableTickets.invalid && (availableTickets.dirty || availableTickets.touched) && availableTickets.errors.required">
        availableTickets is required!
      </mat-error>
      <mat-error *ngIf="availableTickets.invalid && (availableTickets.dirty || availableTickets.touched) && availableTickets.errors.pattern">
        availableTickets must be a number!
      </mat-error>
    </mat-form-field>  
  </div> 
  
  
  <button mat-raised-button class="btnCancel" (click)="cancel()">Cancel</button>
  <button [disabled]="!presentationForm.valid" type="submit" mat-raised-button class="btnSubmit">Save presentation</button>
</form>  