<div class="row">
    <div class="col">
      <h1 class="display-2">Rooms</h1>  
  
      <!--<status-filter [status]="selectedStatus" (onChange)="onFilterChange($event)"></status-filter> -->
  
      <table class="table">  
        <thead>  
          <tr>  
            <th scope="col">#</th>  
            <th scope="col">Capacity</th>  
            <th scope="col">Number</th>  
            <th scope="col">Type</th>
          </tr>  
        </thead>  
        <tbody>  
          <tr *ngFor="let room of rooms" (click)="onSelectRoom(room)" [class.table-info]="room === selectedRoom" >  
            <th scope="row">{{ room.id }}</th>  
            <td>{{ room.capacity }}</td>  
            <td>{{ room.number }}</td>  
            <td>{{ room.type }}</td>   
          </tr>  
        </tbody>  
      </table>  
    </div>
    <div class="col" *ngIf="addmode==true"> 
      <room-form (onSubmit)="addToList($event)" (onCancel)="toggleAddmode()" [room]="selectedRoom"></room-form>
    </div>
    <div class="col" *ngIf="modifymode==true"> 
      <room-form (onSubmit)="modifyList($event)" (onCancel)="toggleModifymode()" [room]="selectedRoom"></room-form>
    </div>
  </div>
  <button mat-raised-button class="btnAdd" [disabled]="(addmode==true) || (modifymode==true)" (click)="toggleAddmode()">Add room</button>
  <button mat-raised-button color="primary" [disabled]="(addmode==true) || (!selectedRoom) || (modifymode == true)" (click)="toggleModifymode()">Edit room</button>
  <button mat-raised-button color="warn" [disabled]="(addmode==true) || (modifymode==true)" (click)="deleteRoom(selectedRoom)">Delete room</button>